<h1>破滅*ラウンジっていうのやるんでジャンクの PC ください！！！！！！！！！！！！！</h1>

<div class="topsy_widget_data"><!--
    {
        "url": "http://junkure.yuiseki.net/",
        "title": "破滅*ラウンジっていうのやるんでジャンクの PC ください！！！！！！！！！！！！！",
        "theme": "jade",
        "nick": "chaos_lounge"
    }
--></div>

<a href="http://chaosxlounge.com/">破滅*ラウンジ</a>っていうのやるんでジャンクの PC ください！！！！！！！
<ul style="line-height:1.5em;">
  <li>よろしくお願いしますよ！！！！！！：
    <ul>
        <li>5/3(月)に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで持ってこれる人</li>
        <li>5/3(月)までに〒150-0002 渋谷区渋谷2-17-3渋谷アイビスビルB1Fに送れる人</li>
        <li>5/3(月)に赤帽で回収可能な都内近郊在住の人（住所と電話番号教えてーーーーーーー（＾－＾）</li>
        <li>5/8～5/16の開催期間中に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで自力で持ってこれる人</li>
    </ul>
  </li>
  <li>返却希望者は5/16に渋谷区渋谷2-17-3渋谷アイビスビルB1Fまで取りに来てください！！</li>
  <li>それ以外は錬金術に使うので返却できなくなります！！！！よろしく！！！！！</li>
</ul>
基本的におおきなタワー型デスクトップマシン、ディスプレイなどを探しています。（動かなくても可）ノートPCとかでもOK！！！！<br />
以上に当てはまる方は、Twitterアカウントでサインインしてジャンク情報の登録をお願いします。<br />
5/3にジャンクの回収が終わったら、個人情報は破棄します。
<hr />
<% if current_user %>
  <h2><%= link_to image_tag(current_user.profile_image_url, :title => h(current_user.name), :size => "24x24"), "/#{current_user.login}" %>
    <%=h current_user.login %>としてサインイン中</h2>
  <% if current_user.junk == "" or current_user.junk.blank? or @change %>
    <p>情報を登録をしてください（<b>すべて非公開です</b>）：</p>
    <% form_for :user, current_user, :url => {:action => 'update'} do |f| %>
      <p><label for="user_tel">連絡用電話番号</label>：<%= f.text_field 'tel' %></p>
      <p><label for="user_address">回収に伺う際の住所</label>：<%= f.text_field 'address', :size => "70" %><br />（自力搬送、郵送の場合は空欄）</p>
      <p><label for="user_junk">ジャンクの台数、状態など</label>：<%= f.text_area 'junk', :size => "50x4" %><br />（約500文字を超えるとカットされます）</p>
      <%= submit_tag "登録" %>
    <% end %>
  <% else %>
    <p>以下の内容で登録済みです。ありがとうございます：</p>
    <p>住所：<%=h current_user.address %></p>
    <p>電話番号：<%=h current_user.tel %></p>
    <p>ジャンク情報：<pre><%= current_user.junk %></pre></p>
    <a href="/?change">変更する</a> | <a href="/logout">サインアウトする</a>
  <% end %>
<% else %>
  サインインしていません。
  <a href="/session/new"><img src="/images/signintw.png" title="sign in with twitter" alt="sign in with twitter"/></a>
<% end %>
<hr />

<h2>破滅*ラウンジ 協力ユーザー</h2>
<% @users.each do |user| %>
  <%= link_to image_tag(user.profile_image_url, :title => h(user.name), :size => "24x24"), "http://twitter.com/#{user.login}" %>
  <%= user.login %>
  <%#= user.junk %>
<% end %>



